<footer>
  <ul class="flex">
    <li><%= link_to '利用規約', terms_path %></li>
    <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
    <li><%= link_to 'お問合せ', contact_path %></li>
  </ul>
  <small class="copyright">&copy; 2022 Muscle Beat</small>
</footer>
