<%= render 'shared/humberger' %>

<h1 class="ttl">Contact</h1>


<div class="card mb-3 explain-wrapper" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body container">
        <p>Muscle Beatに関するお問い合わせ、不具合の報告などございましたら、以下のTwitterアカウントまでご連絡ください。<br>
        <br>
        ご感想や新曲のリクエストもお待ちしております！</p>
        <div class="twitter-link">
          <a href="https://twitter.com/ji_bi__" target="_blank">
            <div class="btn btn-twitter"><i class="fa-brands fa-twitter"></i>ji_bi__</div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="footer-fixed">
  <%= render 'shared/footer' %>
</div>
