<div class="top-wrapper">
  <h1 class="ttl">Muscle Beat</h1>

  <%= image_tag 'machoman', size: '230x386', class: 'machoman' %>

  <%= link_to explain_path do %>
    <div class="btn start-btn">START</div>
  <% end %>
</div>
