.landscape span, .tilt span, .depth span, .ud span {
  display: inline-block;
  width: 50%;
  height: 100%;
  margin: 0;
  padding-top: 16px;
  text-align: center;
  letter-spacing: normal;
  font-size: 32px;
}

.landscape, .tilt, .depth, .ud {
  letter-spacing: -.4em;
  font-size: 0;
  width: 100%;
  height: 80px;
  margin: 2% auto 3%;
  display: block;
  overflow: hidden;
  background: #ededed;
  color: #6a6a6a;
}

.color {
  color: aqua;
  background-color: blue;
}


// phina.js
#mycanvas {
  display: block;
  position: relative!important;
  top: 0px;
  // left: 30px; //デバッグ用
  left: -145px; //スマホ画面に対応
  transform:rotate(90deg); //スマホ画面に対応
  margin-top: 290px!important;
}


#display {
  display: block;
  margin: 1em 0;
  background-color: blue;
}

#open-file {
  background-color: rgb(112, 125, 198);
  color: white;
  text-align: center;
  padding: 0.5em 1em;
  cursor: pointer;
}

#file-input {
  display: none;
}