/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// フォント
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

body {
  font-family: 'Rowdies', 'RocknRoll One', sans-serif !important;
}

// レイアウトのみ
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.flex {
  display: flex;
}


// フラッシュメッセージ
#notice {
  text-shadow: 0 0 1px lime, 0 0 2px lime, 0 0 3px lime, 0 0 4px lime, 0 0 7px lime, 0 0 8px lime, 0 0 10px lime, 0 0 15px lime;
  color: #fff !important;
}

.user_sessions .flash {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.beats .flash {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 9999;
  top: 30%;
  left: 37%;
  width: 100%;
}


/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: absolute;
  z-index : 3;
  right : 10px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 3px ;
  left    : 6px;
  background : #ff00de;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#ff0080;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#ff0080;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:first-child{
  font-size: 2rem;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
  padding: 1em 0;
  text-decoration :none;
}


/*　beats/indexハンバーガーボタン　*/
// 変更点のみ記載
.beats .hamburger {
  right : -260px;
}
.beats nav.globalMenuSp {
  width: 172%;
}
