// beats#index

// フォント
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

// レイアウトのみ
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}


// 個別
.beats {
  background-image: image-url('index.png');
  background-size: cover;
}

#nav a, .lime, #notice {
  color: lime;
}

.index-wrapper {
  text-align: center;
  transform: rotate(90deg);
}

.ttl {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  color: #ff00de;
  font-size: 44px;
  padding-top: 30px;
}
.beats-ttl {
  width: 100%;
  margin-left: 133px;
}

.before-wrapper {
  margin-top: 30px !important;
}
.before-text {
  margin-top: 20px;
}
.before-text-pink {
  color: #ff00de;
}
.btn-index {
  color: #fff !important;
  background-color: #ff00de !important;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 2px #ff00de, 0 0 5px #ff00de, 0 0 6px #ff00de, 0 0 8px #ff00de, 0 0 15px #ff00de;
  margin-top: 10px;
}
.btn-index:hover {
  background-color: #ff0080 !important;
}

.beats-wrapper {
  margin-top: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff;
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 3px #ff00de;

  border: none;
  width: 95%;
  margin: 0 auto;
}
.card-title {
  font-size: 1.8rem;
}
.beat-ttl {
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
}
.card-text {
  margin-bottom: 0;
}
.fz-rem {
  font-size: 1.2rem;
}
.ranking-link {
  color:#ff00de;
}
.ranking-link:hover {
  color:#ff0080;
}

.beat-link {
  color: #fff;
  text-decoration: none;
}
.beat-link:hover {
  color: #ff0080;
  text-decoration: none;
}

// slick
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 640px;
  margin:0 auto;
}

.slick-track {
  padding-top: 10px;
}

.slider .card {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: absolute;
  z-index : 3;
  right : -260px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 3px ;
  left    : 6px;
  background : #ff00de;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#ff0080;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#ff0080;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 172%;
  height: 100%;
  display: none;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:first-child{
  font-size: 2rem;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
  padding: 1em 0;
  text-decoration :none;
}


// ランキング
.ranking-pop {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 270px;
  display: none;
  table-layout: fixed;
}

.ranking-pop tbody {
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  width: 100%;
}

.ranking-pop tbody tr {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 5px;
  transition: .4s all;
}
.ranking-pop tbody tr td {
  max-height: 50px;
}
.ranking-pop tbody tr:last-child {
  padding-bottom: 0;
}

// .ranking-pop ul {
//   margin: 0 auto;
//   padding: 0;
//   padding-top: 10px;
//   width: 100%;
// }

// .ranking-pop ul li {
//   list-style-type: none;
//   padding: 0;
//   width: 100%;
//   transition: .4s all;
// }
// .ranking-pop ul li:first-child{
//   font-size: 2rem;
// }
// .ranking-pop ul li:last-child {
//   padding-bottom: 0;
// }

.ranking-pop ul li a {
  display: block;
  color: #fff;
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
  padding: 1em 0;
  text-decoration :none;
}


// レベル切り替えボタン
.level-wrapper {
  position: absolute;
  top   : 12px;
  left: 10px;
  padding: 5px;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}
#levelbutton {
  color: #fff;
  background-color: #ff00de;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 2px #ff00de, 0 0 5px #ff00de, 0 0 6px #ff00de, 0 0 8px #ff00de, 0 0 15px #ff00de;
}



// beats#_form
.form_wrapper {
  text-align: center;
}
.field {
  color: lime;
  padding-top: 20px;
  padding-bottom: 20px;
}
