// beats#index

// 個別
.beats {
  background-image: image-url('index.png');
  background-size: cover;
}

#nav a, .lime, #notice {
  color: lime;
}

.index-wrapper {
  text-align: center;
  transform: rotate(90deg);
}

.ttl {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  color: #ff00de;
  font-size: 44px;
  padding-top: 30px;
}
.beats-ttl {
  width: 100%;
  margin-left: 133px;
}

.before-wrapper {
  margin-top: 30px !important;
}
.before-text {
  margin-top: 20px;
}
.before-text-pink {
  color: #ff00de;
}
.btn-index {
  color: #fff !important;
  background-color: #ff00de !important;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 2px #ff00de, 0 0 5px #ff00de, 0 0 6px #ff00de, 0 0 8px #ff00de, 0 0 15px #ff00de;
  margin-top: 10px;
}
.btn-index:hover {
  background-color: #ff0080 !important;
}

.beats-wrapper {
  margin-top: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff;
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 3px #ff00de;

  border: none;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
.card-title {
  font-size: 1.8rem;
}
.beat-ttl {
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
}
.card-text {
  margin-bottom: 0;
}
.fz-rem {
  font-size: 1.2rem;
}

.beat-link {
  color: #fff;
  text-decoration: none;
}
.beat-link:hover {
  color: #fff;
  text-decoration: none;
}


// slick
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 640px;
  margin:0 auto;
}

.slick-track {
  padding-top: 10px;
}

.slider .card {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


// ランキング
.ranking-pop {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.8);
  text-align: center;
  width: 224px;
  min-height: 253px;
  padding: 0;
  display: none;
}
.ranking-pop ul {
  padding: 0;
}

.ranking-pop ul:first-child {
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  width: 100%;
}
.ranking-pop ul:last-of-type {
  padding-bottom: 20px;
}
.ranking-pop li {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.ranking-contents:first-child {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
}

.ranking-ttl {
  text-shadow: 0 0 0.5px lime, 0 0 1px lime, 0 0 1.5px lime, 0 0 2px lime, 0 0 3.5px lime, 0 0 4px lime, 0 0 5px lime, 0 0 7.5px lime;
  color: #fff;
  font-size: 1.5rem;
}
.ranking-rank {
  max-width: 20px;
}

.ranking-btn {
  color: #ff00de;
  text-decoration: underline;
  text-decoration-color: #ff00de;
}
.ranking-btn:hover {
  color: #ff0080;
}


// レベル切り替えボタン
.level-wrapper {
  position: absolute;
  top   : 12px;
  left: 10px;
  padding: 5px;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}
#levelbutton {
  color: #fff;
  background-color: #ff00de;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 2px #ff00de, 0 0 5px #ff00de, 0 0 6px #ff00de, 0 0 8px #ff00de, 0 0 15px #ff00de;
}



// beats#_form
.form_wrapper {
  text-align: center;
}
.field {
  color: lime;
  padding-top: 20px;
  padding-bottom: 20px;
}
