// mypage#index

.mypage {
  background-image: image-url('index.png');
  background-size: cover;
  color: #fff;
}
.mypage-wrapper {
  text-align: center;
}

.name {
  text-shadow: 0 0 1px lime, 0 0 2px lime, 0 0 3px lime, 0 0 4px lime, 0 0 7px lime, 0 0 8px lime, 0 0 10px lime, 0 0 15px lime;
  color: #fff;
  font-size: 34px;
  padding-top: 30px;
}

.mypage-table {
  margin: 0 auto;
}