// mypage#index

.mypage {
  background-image: image-url('index.png');
  background-size: contain;
  color: #fff;
}
.mypage-wrapper {
  text-align: center;
}

.name {
  text-shadow: 0 0 1px lime, 0 0 2px lime, 0 0 3px lime, 0 0 4px lime, 0 0 7px lime, 0 0 8px lime, 0 0 10px lime, 0 0 15px lime;
  color: #fff;
  font-size: 34px;
  padding-top: 30px;
}

.mypage-table {
  margin: 25px auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 3px #ff00de;
}
tr {
  border-bottom: solid 1px rgba(255, 0, 255, 0.1) !important;
}
td {
  padding: 8px 6px;
}

.mypage-pink {
  color: #fff;
  text-shadow: 0 0 1px #ff00de, 0 0 2px #ff00de, 0 0 3px #ff00de, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
  font-size: 1.2rem;
}