// topページ

body {
  background-image: image-url('top.png');
  background-size: cover;
}

.top-wrapper {
  text-align: center;
}

.ttl {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  color: #ff00de;
  font-size: 44px;
}

.start-btn {
  background-color: #ff00de !important;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 5px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de, 0 0 60px #ff00de;
  border: none;
  width: 50%;
  margin-top: 300px;
  color: #fff !important;
}
.start-btn:hover {
  background-color: #ff0080 !important;
}
