// topページ

.starts {
  background-image: image-url('index.png');
  background-size: cover;
  text-align: center;
  // padding-top: 50px;
}

.top-wrapper {
  text-align: center;
}

.ttl {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  color: #ff00de;
  font-size: 44px;
}

.start-btn {
  background-color: #ff00de !important;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 5px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de, 0 0 60px #ff00de;
  border: none;
  width: 50%;
  margin-top: 300px;
  color: #fff !important;
}
.start-btn:hover {
  background-color: #ff0080 !important;
}


// explainページ

.explain-wrapper {
  margin-top: 30px !important;
}
.explain-text {
  margin-top: 20px;
}
.explain-text-pink {
  color: #ff00de;
}
.btn-index {
  color: #fff !important;
  background-color: #ff00de !important;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 2px #ff00de, 0 0 5px #ff00de, 0 0 6px #ff00de, 0 0 8px #ff00de, 0 0 15px #ff00de;
  margin-top: 10px;
}
.btn-index:hover {
  background-color: #ff0080 !important;
}
.btn-index2 {
  color: #fff !important;
  background-color: lime !important;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 2px lime, 0 0 5px lime, 0 0 6px lime, 0 0 8px lime, 0 0 15px lime;
  margin-top: 10px;
}
.btn-index2:hover {
  background-color: limegreen !important;
}


// terms&privacyページ
