// user関連ページ

.users, .user_sessions {
  background-image: image-url('index.png');
  background-size: cover;
  padding-bottom: 80px;
}
.user-wrapper {
  text-align: center;
  color: #fff;
}
.user-form {
  margin-top: 20px;
}

.user-link {
  color: lime;
}